@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Rajdhani:300);

$colorWhite: rgba(255,255,255,1);
$colorDamnLight: rgba(0,220,220,1);
$colorLight: rgba(0,190,190,1);
$colorDark: rgba(60,60,60,1);
$colorBlack: rgba(33,33,33,1);
$fontSize: 18px;

@mixin borderGlow($range: 8px, $color: $colorLight) {
  @include box-shadow(
    0 0 $range $color inset,
    0 0 $range $color
  );
  border: 1px solid $colorDamnLight;
}

@mixin wholeGlow($color1: $colorDamnLight, $color2: $colorWhite) {
  @include box-shadow(
    0 0 20px $color1 inset,
    0 0 10px $color1,
    0 0 20px $color2
  );
  border: 1px solid $colorDamnLight;
  background: $colorDamnLight;
}

html, body {
  background: url(http://aaronchuo.cc/assets/images/ironwall.jpg) $colorBlack top center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: .1em;
}

.scifiUI {
  width: 600px;
  margin: 50px auto;
  font-size: $fontSize;
  color: $colorLight;
  
  * {
    @include transition(all 250ms ease-in-out);
    outline: none;
  }
  
  :before,
  :after {
    @include transition(all 200ms ease-in-out);
    content: '';
  }
  
  .inline {
    display: block;
    width: 100%;
    margin: 20px 0;
    
    label {
      padding-right: 5px;
    }
  }
  
  //Text input
  input[type=text] {
    height: 50px;
    border: 1px solid $colorLight;
    padding: 0 10px;
    background: transparent;
    
    &:hover {
      @include borderGlow();
    }
    
    &:focus {
      @include wholeGlow();
      color: $colorBlack;
    }
  }
  
  //Radios
  .radioWrapper {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 20%;
    
    input[type=radio] {
      position: absolute;
      top: -100%;
      
      ~ label {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding-left: 35px;
        text-align: left;
        cursor: pointer;
        
        &:before {
          @include border-radius(50%);
          display: block;
          position: absolute;
          top: 13px;
          left: 5px;
          width: 20px;
          height: 20px;
          border: 1px solid $colorLight;
        }
        
        &:after {
          @include opacity(0);
          @include border-radius(50%);
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 60%;
          height: 100%;
        }
      }
      
      &:hover ~ label {
        color: $colorDamnLight;
        
        &:before {
          @include borderGlow();
        }
      }
      
      &:checked ~ label {
        color: $colorDamnLight;
        
        &:before {
          @include borderGlow();
        }
        
        &:after {
          @include opacity(1);
          @include wholeGlow();
          top: 18px;
          left: 10px;
          width: 10px;
          height: 20%;
        }
      }
    }
  }
  
  //Checkboxes
  .checkboxWrapper {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
    
    input[type=checkbox] {
      position: absolute;
      top: -100%;
      
      ~ label {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding-left: 35px;
        text-align: left;
        cursor: pointer;
        
        &:before {
          display: block;
          position: absolute;
          top: 7px;
          left: 5px;
          width: 20px;
          height: 20px;
          border: 1px solid $colorLight;
        }
        
        &:after {
          @include opacity(0);
          @include box-shadow(
            1px -7px 5px 3px $colorLight,
            5px 5px 5px 3px $colorDamnLight
          );
          display: block;
          position: absolute;
          top: 7px;
          left: 5px;
          width: 20px;
          height: 20px;
        }
      }
      
      &:hover ~ label {
        color: $colorDamnLight;
        
        &:before {
          @include borderGlow();
        }
      }
      
      &:checked ~ label {
        color: $colorDamnLight;
        
        &:before {
          @include borderGlow();
        }
        
        &:after {
          @include opacity(1);
          @include wholeGlow();
          top: 14px;
          left: 10px;
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  
  //Selector
  .selectWrapper {
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 50px;
    border-left: 5px solid $colorLight;
    
    &:hover {
      @include wholeGlow();
      width: 200px;
      height: 50px;
      
      select {
        color: $colorBlack;
        
        + i {
          border-top-color: $colorBlack;
        }
      }
    }
    
    i {
      position: absolute;
      top: 18px;
      left: 10px;
      width: 0;
      height: 100%;
      border-top: 15px solid $colorLight;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    
    select {
      @include appearance(none);
      @include box-shadow(none);
      position: absolute;
      width: 200px;
      height: 100%;
      padding-left: 40px;
      border: 0;
      outline: 0;
      background: none;
      z-index: 99;
      cursor: pointer;
    }
  }
  
  //Button
  button {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 50px;
    border: 1px solid $colorLight;
    background: rgba($colorLight,.2);
    
    &:hover {
      @include borderGlow();
      color: $colorDamnLight;
      background: rgba($colorDamnLight,.3);
    }
  }
  
}